.card {
  justify-content: center;
  text-align: center;
  padding: 10px;
}

.spacing-card {
  justify-content: space-between;
  margin: 10px !important;
}

.images {
  width: 100% !important;
  object-fit: fill !important;
  @media (max-width: 567px) {
    height: 200px !important;
  }
  height: 300px;
}

.text {
  visibility: hidden;
  padding: 0 !important;
}