.salute-container {
  margin-top: 10px;
  margin-right: 15px;
}

.MuiPaper-root {
  box-shadow: none !important;
  font-weight: bold !important;
  font-size: 14px !important;
  color: black !important;
  display: block;
  justify-content: center !important;
  text-align: center !important;
  margin-left: 20px !important;
}

.flag-countries {
  height: 10vh !important;
  width: 20vh !important;
}

.bottom-space {
  margin-bottom: 20px !important;
}